*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

.first-div{
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-banner.webp');
    background-size: cover;
    background-position: center;
    display: flex;
}

.layout{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px 35px;
}

.main-header nav ul{
    display: flex;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.main-header nav ul a{
    text-decoration: none;
    color: #212529;
}

.main-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.main-text h1, 
.main-text p{
    margin: 0;
}

.main-text h1 {
    font-family: 'Playfair Display';
    font-size: 55px;
}

.main-text .sub-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    letter-spacing: 2px;
}

.mw-responsive {
    max-width: 250px;
}