

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

/* .text-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
} */

.first-div {
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0px 0px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
}

.main-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-text h1{
    font-family: 'Playfair Display';
    font-size: 50px;
    color: black;
}

.main-text .sub-text{
    margin: 0px;
    font-family: 'Giga Sans', ui-sans-serif, system-ui;
    font-size: 25px;
    font-weight: 100;
}

.mw-responsive {
    position: absolute;
    bottom: 0px;
    max-width: 250px;
}